PACT_SERVICE_CONSUMER = PACT_SERVICE_PROVIDER

Candidate_Enrollment_IDS_Consumer = Candidate_Enrollment_Inspera_Provider
Composite_TestEvent_IDS_Consumer = Composite_TestEvent_Inspera_Provider
Create_StudentUser_IDS_Consumer = Create_StudentUser_Inspera_Provider
Create_TestEvent_Inspera_Provider = Create_TestEvent_IDS_Consumer
Test_Options_IDS_Consumer = Test_Options_Inspera_Provider



Create_Booking_IDP_ORS_Consumer = Create_Booking_CMDS_Booking_Provider
Update_Booking_IDP_ORS_Consumer = Update_Booking_CMDS_Booking_Provider
Transfer_Booking_IDP_ORS_Consumer = Transfer_Booking_CMDS_Booking_Provider
Cancel_Booking_IDP_ORS_Consumer = Cancel_Booking_CMDS_Booking_Provider
Create_Booking_BC_ORS_Consumer = Create_Booking_CMDS_Booking_s_Provider
Update_Booking_BC_ORS_Consumer = Update_Booking_CMDS_Booking_s_Provider
Transfer_Booking_BC_ORS_Consumer = Transfer_Booking_CMDS_Booking_s_Provider
Cancel_Booking_BC_ORS_Consumer = Cancel_Booking_CMDS_Booking_s_Provider

Create_Location_G_ORS_Consumer = Create_Location_G_CMDS_LPR_provider
Create_Location_TC_ORS_Consumer = Create_Location_TC_CMDS_LPR_provider
Create_Location_PB_ORS_Consumer = Create_Location_PB_CMDS_LPR_provider
Create_Location_R_ORS_Consumer = Create_Location_R_CMDS_LPR_provider
Create_Location_C_ORS_Consumer = Create_Location_C_CMDS_LPR_provider
Create_Location_P_ORS_Consumer = Create_Location_P_CMDS_LPR_provider



Compositefinalgradesetevent_Inspera_Consumer = Compositefinalgradesetevent_IDS_Provider
MarksAndGradesbyRoundExportFinished_Inspera_Consumer = MarksAndGradesbyRoundExportFinished_IDS_Provider

TtHistoryRequested_Inspera_Consumer = TtHistoryRequested_IDS_Provider

Marks_Import_LA_Consumer = Marks_Import_IDS_Provider

Add_User_CMDS_UI_Consumer = Add_User_CMDS_API_Provider
Add_RO_CMDS_UI_Consumer = Add_RO_CMDS_API_Provider
Search_RO_CMDS_UI_Consumer = Search_RO_CMDS_API_Provider
Search_User_CMDS_UI_Consumer = Search_User_CMDS_API_Provider
View_User_CMDS_UI_Consumer = View_User_CMDS_API_Provider
Delete_User_CMDS_UI_Consumer = Delete_User_CMDS_API_Provider

Revision_status_updated_IDS_Consumer = Revision_status_updated_Inspera_Provider
Qti_export_ready_IDS_Consumer = Qti_export_ready_Inspera_Provider
Jagged_status_set_IDS_Consumer = Jagged_status_set_Inspera_Provider
PRCRecommendation_CMDS_Consumer = PRCRecommendation_Inspera_provider
User_id_photos_captured_IDS_Consumer = User_id_photos_captured_Inspera_Provider
Submissions_delivered_IDS_Consumer = Submissions_delivered_Inspera_Provider
Submissions_export_finished_IDS_Consumer = Submissions_export_finished_Inspera_Provider

EOR_Remark_Request_IDS_Consumer = EOR_Remark_Request_Inspera_Provider
Candidate_id_verified_IDS_Consumer = Candidate_id_verified_Inspera_Provider
Candidate_id_rejected_IDS_Consumer = Candidate_id_rejected_Inspera_Provider
Candidate_id_requires_follow_up_IDS_Consumer = Candidate_id_requires_follow_up_Inspera_Provider
Added_generic_candidate_flag_IDS_Consumer = Added_generic_candidate_flag_Inspera_Provider
Incident_report_added_to_logged_event_Inspera_IDS_Consumer = Incident_report_added_to_logged_event_Inspera_Provider
Files_attached_to_logged_event_IDS_Consumer = Files_attached_to_logged_event_Inspera_Provider

Create_RO_Selection_IDP_ORS_Consumer = Create_RO_Selection_CMDS_IDP_Provider
Create_RO_Selection_BC_ORS_Consumer = Create_RO_Selection_CMDS_BC_Provider 
Withdraw_RO_Selection_BC_ORS_Consumer = Withdraw_RO_Selection_BC_ORS_to_CMDS_PostTest
Withdraw_RO_Selection_IDP_ORS_Consumer = Withdraw_RO_Selection_IDP_ORS_to_CMDS_PostTest
Search_Selections_CMDS_UI_Consumer = Search_Selections_UI_API_PostTest
Download_TRF_CMDS_UI_Consumer = Download_TRF_UI_API_PostTest
Download_ETRF_CMDS_UI_Consumer = Download_ETRF_UI_API_PostTest


